@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}


.grid_layout {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1.4fr 0.8fr 1fr;
  grid-template-rows: 1fr 0.7fr 1.6fr 0.7fr 1fr;
  gap: 4px 4px;
  grid-auto-flow: row;
  grid-template-areas:
    "a a b c c"
    "a a b c c"
    "d d . e e"
    "f f g h h"
    "f f g h h";
  border-radius: 32px;
  filter: drop-shadow(-8px 15px 20px rgba(0, 0, 0, 0.65))
    drop-shadow(-32px 44px 60px rgba(15, 12, 36, 0.35));
}

.board_layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 2px;
  padding: 1px 1px;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  /* border-radius: 42px; */
  box-shadow: -3px 3px 3px 0px rgba(255, 255, 255, 0.6) inset,
    2px -2px 2px 0px rgba(0, 0, 0, 0.25) inset;
  filter: drop-shadow(-4px 4px 8px rgba(62, 41, 26, 0.7));
}

.board_outline {
  background: linear-gradient(223deg, #fefcf4 0%, #d1c4b3 100%);
}

.circle_gradient {
  background: #f9e5bf;
  box-shadow: inset 5px -6px 4px 0px #fdf5da, inset -2px 3px 4px 3px #f8d19f;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.75))
    drop-shadow(-10px 16px 20px rgba(0, 0, 0, 0.45));
}

.back_grid_item {
  box-shadow: inset 2px -2px 2px 4px rgba(0, 0, 0, 0.45),
    inset -2px 2px 2px 4px rgba(155, 164, 167, 0.4);
}

.board_back_grad {
  background: linear-gradient(225deg, #efe6d6 0%, #e9e0cf 100%);
  box-shadow: -6px 6px 4px 0px rgba(251, 250, 239, 0.9) inset,
    6px -6px 4px 0px rgba(173, 160, 142, 0.8) inset,
    2px -2px 1px 0px rgba(129, 113, 99, 0.4) inset;
}

.semi-circle {
  width: 100px;
  height: 50px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 2px solid rgba(164, 161, 157, 0.3);
  border-bottom: 0;
  transform: rotate(140deg);
}

.hollow {
  background: #ece5d5;
  box-shadow: 6px -6px 7px 1px rgba(251, 250, 239, 0.9) inset,
    -6px 6px 20px 2px rgba(173, 160, 142, 0.8) inset,
    -2px 2px 1px 0px rgba(129, 113, 99, 0.4) inset;
}

.cell_a {
  grid-area: a;
}

.cell_b {
  grid-area: b;
}

.cell_c {
  grid-area: c;
}

.cell_d {
  grid-area: d;
}

.cell_e {
  grid-area: e;
}

.cell_f {
  grid-area: f;
}

.cell_g {
  grid-area: g;
}

.cell_h {
  grid-area: h;
}
.cell_i {
  grid-area: i;
}
